---
layout: default
---
<main class="Home-container">
  {% for post in site.posts %}
  <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
    <div class="Home-content">
      <div class="content-img">
      {% if post.heroImage != "" %}
        <img src="{{ post.heroImage }}" alt="Hero Image for {{ post.title }} project">
      {% else %}
        <img src="https://placehold.it/200x200" alt="">
      {% endif %}

      </div>
      <div class="content-description">
        <h3>{{ post.title }}</h3>
        <p>{{ post.subtitle }}</p>
      </div>
    </div>
  </a>
  {% endfor %}
</main>
