<footer class="footer">
  <div class="footer-content">
    <div class="footer-about">
      <h4>Hi.</h4>
      <p>Isaac Kuek is a Seattle based UX designer. He currently works at Concur designing enterprise scale products.</p>
    </div>
    <div class="footer-contact">
      <h4>Connect.</h4>
      <p><a href="mailto:kuek.isaac@gmail.com">Send me an email</a></p>
      <p><a href="http://www.linkedin.com/in/isaackuek">Connect with me on LinkedIn</a></p>
    </div>
    <div class="footer-copyright">
      <h4>Browse.</h4>
      <p><a href="/">Projects</a></p>
      <p><a href="/about">My Story</a></p>
    </div>
  </div>
</footer>
