---
layout: default
---

<article class="project-content">
  <h2 class="project-title">{{ page.projectDescription }}</h2>
  <section class="project-info">
    {% for category in page.projectInfo %}
      <div class="category">
        <h3>{{ category.title }}</h3>
        {% if category.content %}
          {% for info in category.content %}
            <li>{{ info }}</li>
          {% endfor %}
        {% endif %}
      </div>
    {% endfor %}
  </section>
  <hr>
  <p>
    {{ content }}
  </p>
</article>

<!-- <article class="project-content" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>
  </header>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

</article> -->
